RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteCond %{ENV:HTTPS} !=on
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# redirect webfinger to mastodon
RewriteRule ^.well-known/webfinger(.*)$ https://hutt.social/.well-known/webfinger?resource=acct:jannis@hutt.social [L,R=301]

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript
Header set Life "1 falsches"
Header set Access-Control-Allow-Origin "*"

# Cache favicon
<filesMatch "\.ico$">
 # 30 Tage = 2592000s
 # 3 Monate = 7776000s
 Header set Cache-Control "max-age=7776000, public"
</filesMatch>

# Cache JavaScript and CSS
<filesMatch "\.(js|css)$">
 Header set Cache-Control "max-age=7776000s, public"
</filesMatch>

# Cache Fonts
<FilesMatch "\.(eot|svg|ttf|woff|woff2)$">
 # 3 Monate = 7776000s
 Header set Cache-Control "max-age=7776000s, public"
</FilesMatch>

# Cache Images
<FilesMatch "\.(png|jpg|jpeg|gif|webp)$">
 Header set Cache-Control "max-age=7776000s, public"
</FilesMatch>

<FilesMatch "\.(php|cgi|pl|htm)$">
ExpiresDefault A0
Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
</FilesMatch>

# Redirect /photos/ to index.html#photographie
RedirectMatch "^/photos/?$" "https://hutt.io/#photographie"

# Redirect /jobs/ to index.html#jobs
RedirectMatch "^/jobs/?$" "https://hutt.io/#jobs"

# Redirect /kampagnen/ to index.html#kampagnen
RedirectMatch "^/kampagnen/?$" "https://hutt.io/#kampagnen"

# Redirect /projekte/ to index.html#kampagnen
RedirectMatch "^/projekte/?$" "https://hutt.io/#kampagnen"

# Redirect /termine/ to termine.html
RedirectMatch "^/termine/?$" "https://hutt.io/termine.html"

